 .btn1{
    margin-top: 5%;
    text-align: center;
}

.btn1 Button{
    width: 20%;
    background-color:#003D71;
}

.btn2{
    margin-top:10%;
    text-align: center;
}

.btn2 Button{
    width: 20%;
    background-color:#003D71;
}